<form method="POST" action="/staff">
  <div class="mb-3">
    <input type="hidden" name="hid" class="form-control form-control-sm" value="{{ @hid }}" required>
  </div>
  <div class="mb-3">
      <input type="text" name="firstname" class="form-control form-control-sm" value="{{ @firstname }}" required>
  </div>
  <div class="mb-3">
    <input type="text" name="lastname" class="form-control form-control-sm" value="{{ @lastname }}" required>
  </div>
  <div class="mb-3">
      <input type="email" name="email" class="form-control form-control-sm" value="{{ @email }}" required>
  </div>
  <div class="mb-3">
      <input type="tel" name="phone" class="form-control form-control-sm" value="{{ @phone }}" required>
  </div>
  <div class="mb-3">
      <input type="text" name="position" class="form-control form-control-sm" value="{{ @position }}" required>
  </div>
  <div class="mb-3">
      <button type="submit" name="submit" class="btn btn-sm btn-success btn-block" value="update">Update Staff Data</button>
  </div>
</form>