<!-- Add Staff Modal -->
<form method="POST" action="/staff">
  <div class="mb-3">
    <input type="text" name="firstname" class="form-control form-control-sm" placeholder="Staff Firstname" required>
  </div>
  <div class="mb-3">
      <input type="text" name="lastname" class="form-control form-control-sm" placeholder="Staff Lastname" required>
  </div>
  <div class="mb-3">
    <input type="text" name="username" class="form-control form-control-sm" placeholder="Username" required>
  </div>
  <div class="mb-3">
    <input type="password" name="password" class="form-control form-control-sm" placeholder="Password" required>
  </div>
  <div class="mb-3">
    <input type="email" name="email" class="form-control form-control-sm" placeholder="Staff Email" required>
  </div>
  <div class="mb-3">
    <input type="tel" name="phone" class="form-control form-control-sm" placeholder="Staff Phone Number">
  </div>
  <div class="mb-3">
    <input type="text" name="position" class="form-control form-control-sm" placeholder="Staff Position" required>
  </div>
  <div class="mb-3">
    <button type="submit" name="submit" class="btn btn-sm btn-success btn-block" value="create">Add New Staff</button>
  </div>
</form>