<!-- Add Staff Modal -->
<form>
  <div class="mb-3">
      <input type="date" class="form-control form-control-sm" required>
  </div>
  <div class="mb-3">
      <input type="text" class="form-control form-control-sm" placeholder="Staff Name" required>
  </div>
  <div class="mb-3">
      <input type="email" class="form-control form-control-sm" placeholder="Staff Email ID" required>
  </div>
  <div class="mb-3">
      <input type="tel" class="form-control form-control-sm" placeholder="Staff Phone Number" required>
  </div>
  <div class="mb-3">
      <select class="form-control form-control-sm">
          <option value="Project Manager">Project Manager</option>
          <option value="Logistics Controller">Logistics Controller</option>
          <option value="Software Developer">Sofware Developer</option>
          <option value="Data Analyst">Data Analyst</option>
          <option value="Graphics Designer">Graphics Designer</option>
          <option value="Sales Marketer">Sales Marketer</option>
      </select>
  </div>
  <div class="mb-3">
      <button type="submit" class="btn btn-sm btn-success btn-block">Add New Member</button>
  </div>
</form>