<div class="container-fluid">
  <div class="row mt-3">
      <div class="col-lg-3 col-md-3 xs">
          <div class="list-group small">
              <div class="list-group-item active">Staff Panel</div>
              <a href="" data-title="Add Staff" data-submit="create" class="staff-modal list-group-item" data-bs-toggle="modal" data-bs-target="#add_staff">Add New Member</a>
              <a href="/staff" class="staff-modal list-group-item">View all Members</a>
          </div>
      </div>
      <div class="col-lg-9 col-md-9 xs">
          <table class="table table-striped table-hover bg-light small">
              <tr class="table-dark">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Details</th>
                  <th>Edit</th>
                  <th>Remove</th>
              </tr>
              <repeat group="{{ @staff }}" key="{{ @key }}" value="{{ @val }}">
              <tr>
                  <td>{{ @val.id }}</td>
                  <td>{{ @val.firstname }} {{@val.lastname}}</td>
                  <td>{{ @val.email }}</td>
                  <td><a href="" data-id="{{ @val.hid }}" data-title="Staff Details" data-submit="detail" data-bs-toggle="modal" data-bs-target="#staff_details1" class="staff-modal btn btn-sm btn-block btn-info">Details</a></td>
                  <td><a href="" data-id="{{ @val.hid }}" data-title="Staff Update" data-submit="update" data-bs-toggle="modal" data-bs-target="#staff_edit_details1" class="staff-modal btn btn-sm btn-block btn-warning">Edit</a></td>
                  <td><a href="" data-id="{{ @val.hid }}" data-title="Delete Staff?" data-submit="delete" data-bs-toggle="modal" class="staff-modal btn btn-sm btn-block btn-danger">Remove</a></td>
              </tr>
            </repeat>
          </table>
      </div>
  </div>
</div>
