<form method="POST" action="/staff">
  <div class="mb-3">
      <input type="text" class="form-control form-control-sm" value="29-07-2020" required>
  </div>
  <div class="mb-3">
      <input type="text" class="form-control form-control-sm" value="Timo Tavastia" required>
  </div>
  <div class="mb-3">
      <input type="email" class="form-control form-control-sm" value="timotavastia@email.com" required>
  </div>
  <div class="mb-3">
      <input type="tel" class="form-control form-control-sm" value="+3584087654321" required>
  </div>
  <div class="mb-3">
      <input type="tel" class="form-control form-control-sm" value="Project Manager" required>
  </div>
  <div class="mb-3">
      <button type="submit" class="btn btn-sm btn-success btn-block">Update Member</button>
  </div>
</form>