<!-- Add Staff Modal -->
<form method="POST" action="/staff"></form>
  <div class="mb-3">
      <input type="date" class="form-control form-control-sm" required>
  </div>
  <div class="mb-3">
      <input type="text" class="form-control form-control-sm" placeholder="Staff Name" required>
  </div>
  <div class="mb-3">
      <input type="email" class="form-control form-control-sm" placeholder="Staff Email ID" required>
  </div>
  <div class="mb-3">
      <input type="text" class="form-control form-control-sm" placeholder="Staff Phone Number" required>
  </div>
  <div class="mb-3">
    <input type="text" class="form-control form-control-sm" placeholder="Staff Position" required>
  </div>
  <div class="mb-3">
      <button type="submit" class="btn btn-sm btn-success btn-block">Add New Member</button>
  </div>
</form>