<form method="POST" action="/projects">
    <div class="mb-3">
        <input type="hidden" name="hid" class="form-control form-control-sm" value="{{ @hid }}" required>
    </div>
    <div class="mb-3">
        <input type="text" name="title" class="form-control form-control-sm" value="{{ @title }}" required>
    </div>
    <div class="mb-3">
        <input type="text" name="description" class="form-control form-control-sm" value="{{ @description }}" required>
    </div>
    <div class="mb-3">
        <input type="text" name="client" class="form-control form-control-sm" value="{{ @client }}" required>
    </div>
    <div class="mb-3">
        <input type="text" name="timetocomplete" class="form-control form-control-sm" value="{{ @timetocomplete }} hr(s)" required>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-sm btn-success btn-block">Update Project</button>
    </div>
</form>