<!-- Project Details Model -->
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <td>{{ @id }}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{ @title }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ @description }}</td>
    </tr>
    <tr>
        <th>Client</th>
        <td>{{ @client }}</td>
    </tr>
    <tr>
        <th>Time to Complete</th>
        <td>{{ @timetocomplete }} hr(s)</td>
    </tr>
    <tr>
    <th>Milestone</th>
        <td>
            <div class="progress">
                <div id={{ @hid }} 
                class="progress-bar" 
                role="progressbar" 
                style="width:{{ @milestone }}%" 
                aria-valuenow="{{ @milestone }}" 
                aria-valuemin="0" aria-valuemax="100">{{ @milestone }}%</div>
            </div>
        </td>
    </tr>
    <tr>
        <th>Date created</th>
        <td>{{ @created_at }}</td>
    </tr>
</table>
