<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3 col-md-3">
        <div class="card card-border">
            <div class="card-body">
                <h4 class="card-title"><small class="text-muted">Monthly Staff Votes</small></h4>
            </div>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
      <div class="card card-border">
          <div class="card-body">
              <h4 class="card-title"> <small class="text-muted">Task Completion Chart</small></h4>
          </div>
          <canvas id="pieChart" width="400" height="400"></canvas>
      </div>
  </div>
    <div class="col-lg-3 col-md-3">
        <div class="card card-border">
            <div class="card-body">
                <h4 class="card-title"><small class="text-muted">Project Completion Rate</small></h4>
            </div>
            <canvas id="lineChart" width="400" height="400"></canvas>
        </div>
    </div>
</div>
  
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.js"></script>
