<!-- Add Task Modal -->
<form method="POST" action="/tasks">
    <div class="mb-3">
        <input type="text" name="title" class="form-control form-control-sm"required>
    </div>
    <div class="mb-3">
        <textarea name="description" class="form-control form-control-sm" required></textarea>
    </div>
  <div class="mb-3">
    <select name="project_id" class="form-control form-control-sm">
      <option selected>Select Project:</option>
      <repeat group="{{ @project_data }}" key="{{ @key }}" value="{{ @val }}">
        <option value="{{ @val.id }}">{{ @val.title }}</option>
      </repeat>
    </select>
  </div>
  <div class="mb-3">
    <input type="text" name="timeassigned" class="form-control form-control-sm" placeholder="Time assigned (in hours)" required>
  </div>
  <div class="mb-3">
      <button type="submit" name="submit" value="create" class="btn btn-sm btn-success btn-block">Add New Task</button>
  </div>
</form>