<!-- Add Task Modal -->
<form>
  <div class="mb-3">
      <input type="date" class="form-control form-control-sm" required>
  </div>
  <div class="mb-3">
      <input type="text" class="form-control form-control-sm" placeholder="Task Title" required>
  </div>
  <div class="mb-3">
    <select class="form-control form-control-sm">
        <option selected>Select Project:</option>
        <option value="Datero Oy Web App">Datero Oy Web App</option>
        <option value="Account Logs App">Account Logs App</option>
        <option value="Triple Dots Essential">Triple Dots Essential</option>
    </select>
</div>
<div class="mb-3">
<select class="form-control form-control-sm">
    <option selected>Assign Task To:</option>
    <option value="Timo Tavastia">Timo Tavastia</option>
    <option value="Marja Juntti">Marja Juntti</option>
    <option value="Janne Koskinen">Janne Koskinen</option>
</select>
</div>
<div class="mb-3">
    <input type="text" class="form-control form-control-sm" placeholder="Time to complete (in hours)" required>
</div>
<div class="mb-3">
    <input type="text" class="form-control form-control-sm" placeholder="Client" required>
</div>
  <div class="mb-3">
      <button type="submit" class="btn btn-sm btn-success btn-block">Add New Task</button>
  </div>
</form>