<!-- Edit Task Details -->
<form method="POST" action="/tasks">
  <div class="mb-3">
    <input type="hidden" name="hid" class="form-control form-control-sm" value="{{ @hid }}" required>
  </div>
  <div class="mb-3">
      <input type="text" name="title" class="form-control form-control-sm" value="{{ @title }}" required>
  </div>
  <div class="mb-3">
    <textarea name="description" class="form-control form-control-sm" value="{{ @description }}" required>{{ @description }}</textarea>
  </div>
  <div class="mb-3">
      <input type="text" name="timeassigned" class="form-control form-control-sm" value="{{ @timeassigned }}" required>
  </div>
  <div class="mb-3">
      <button type="submit" name="submit" value="update" class="btn btn-sm btn-success btn-block">Update Task</button>
  </div>
</form>