<!-- Add Task Modal -->
<form method="POST" action="/tasks">
    <div class="mb-3">
        <input type="text" name="title" class="form-control form-control-sm" value="{{ @title }}" required>
    </div>
    <div class="mb-3">
        <textarea name="description" class="form-control form-control-sm" required></textarea>
    </div>
  <div class="mb-3">
    <select class="form-control form-control-sm">
        <option selected>Select Project:</option>
        <option value="Datero Oy Web App">Datero Oy Web App</option>
        <option value="Account Logs App">Account Logs App</option>
        <option value="Triple Dots Essential">Triple Dots Essential</option>
    </select>
  </div>
  <div class="mb-3">
    <input type="text" class="form-control form-control-sm" placeholder="Time assigned (in hours)" required>
  </div>
  <div class="mb-3">
      <button type="submit" class="btn btn-sm btn-success btn-block">Add New Task</button>
  </div>
</form>