<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>finetune-f3</title> 
    <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Custom styles for the app -->
  <link href="{{@BASE}}/app/views/css/main.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100 col-xs-auto">
  <div id="modalContent"></div>
  <header>
    <!--navbar switch -->
    <check if="{{@SESSION.user}}">
      <true>
       <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/dashboard"><span class="h3">Hi, {{@SESSION.user}}</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/staff">Staff</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/tasks">Tasks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/analytics">Analytics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">{{@i10en_logout}}</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </true>
    <false>
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">finetune-f3</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </false>
  </check>
  </header>
  <main>
    <include href="{{@content}}" />
  </main>
  <!--Sticky footer-->
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container-fluid text-center">
      <span class="text-muted">Copyrights finetune-f3 &copy;  2021.</span>
    </div>
  </footer>
  <script src="{{@BASE}}/app/views/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" 
    crossorigin="anonymous"></script>
    <script   src="https://code.jquery.com/jquery-3.6.0.min.js"   
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
    <script>
      $(document).ready(function(){
        function openModalWindow(html, title, bottomDesc) {
          //container    
          var modalEl = "modalContent";
          //luodaan tarvittava html    
              var output =        '<div id="' +        modalEl +        '" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalContentLabel" aria-hidden="true">';
              output += '<div class="modal-dialog modal-lg" role="document">';
              output += '<div class="modal-content">';
              output += '<div class="modal-header top-card-header">';
              output +=        '<h5 class="modal-title" id="gal_descLabel">' +        (title ? title : "") +        "</h5>";
              output +=        '<button type="button" class="btn-close closeWhite" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
              output += "</div>";
              output += '<div class="modal-body" style="text-align: left;">';
              output += html ? html : "&nbsp;";
              output += "</div>";
              output +=        '<div class="modal-footer">' +        (bottomDesc ? bottomDesc : "&nbsp;") +        '<button class="btn btn-sm btn-secondary" data-dismiss="modal" aria-hidden="true"><span class="fa fa-times"></span> &nbsp; sulje </button></div>';
              output += "</div>";
              output += "</div>";
              output += "</div>";
              //korvataan vanha html    
              var checker = $("#" + modalEl)
                  .children(".modal-header")
                  .html();
              if (checker == undefined || checker == null || checker == "") {
                  $("#" + modalEl).replaceWith(output);
                  //ikkuna auki        
                  setTimeout(function () {
                      $("#" + modalEl).modal("show");
                  }, 250);
              } else {
                  $("#" + modalEl).modal("hide");
                  $("#" + modalEl).replaceWith(output);
                  $("#" + modalEl).modal("show");
              }
              $("#" + modalEl).on("hide.bs.modal", function () {
                  $("#" + modalEl).html("");
              });
          }

          $('.open-project').on('click',function(){
              let id = $(this).data('id');
              $.post('/project', {'id':id, modal: true}, function(data){
                // data = $.parseJSON(data);
                openModalWindow(data, 'hello top', 'hello bottom')
              })
          })

          $('.edit-project').on('click',function(){
              let id = $(this).data('id');
              $.post('/updateproject', {'id':id, modal: true}, function(data){
                //data = $.parseJSON(data);
                openModalWindow(data, 'hello top', 'hello bottom')
              })
          })

          $('.add-project').on('click',function(){
              // let id = $(this).data('id');
              $.post('/addproject', {modal: true}, function(data){
                //data = $.parseJSON(data);
                openModalWindow(data, 'hello top', 'hello bottom')
              })
          })

          $('.del-project').on('click',function(){
              let id = $(this).data('id');
              $.post('/removeproject', {'id':id, modal: true}, function(data){
                //data = $.parseJSON(data);
                openModalWindow(data, 'hello top', 'hello bottom')
              })
          })
      })
  </script>
  </body>
</html>